[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "themes/angels-ladder"]
	path = themes/angels-ladder
	url = https://github.com/tanksuzuki/angels-ladder.git
