code, pre {
  font-size: 85%;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

code {
  padding: .2em .4em;
  font-size: 85%;
  border-radius: 6px;
  color: #c7254e;
  background-color: #f9f2f4;
}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 100%;
  line-height: 1.45;
  border-radius: 6px;
}
