.card {
  max-width: 100%;
}

.highlight {
  max-width: 100%;

  pre {
    max-width: 100%;
  }
}

embed, img {
  max-width: 100%;
}

a, hr {
  padding: 0;
}

a, button {
  cursor: pointer;
}

input {
  &[type="button"], &[type="file"] {
    cursor: pointer;
  }
}

label {
  cursor: pointer;
}

a, button, input {
  margin: 0;
}

a, input[type="checkbox"] {
  vertical-align: baseline;
}

a:hover, strong, table th {
  color: #222324;
}

.container, sup {
  position: relative;
}

article, details, hr, nav, pre code, section, summary {
  display: block;
}

.button, .input {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

article, audio, b, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: 0 0;

  div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
  }
}

code, del, details, h1, h2, h3, h4, html, i, iframe, img, label, li, nav, ol, p, pre, q, section, span, strong, summary, sup, table, tbody, td, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: 0 0;
}

td {
  vertical-align: top;

  img {
    vertical-align: top;
  }
}

pre {
  background-color: #f5f7fa;
  color: #42464c;

  code {
    background-color: #f5f7fa;
    color: #42464c;
  }
}

code[data-lang] {
  background-color: inherit;
  color: inherit;
}

* {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:after, &:before {
    content: "";
    content: none;
  }
}

q {
  &:after, &:before {
    content: "";
    content: none;
  }
}

a {
  font-size: 100%;
  background: 0 0;
  color: #2077b2;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

del {
  text-decoration: line-through;
}

th {
  font-weight: 700;
  vertical-align: bottom;
}

body, code, td {
  font-weight: 400;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  border-top-color: #d3d6db;
  margin: 40px 0;
}

input {
  vertical-align: middle;
  font: 99% sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%;
  width: 100%;
}

sup {
  font-size: 75%;
  line-height: 0;
  top: -0.5em;
}

code, pre {
  font-family: monospace, sans-serif;
}

button, input[type="button"] {
  width: auto;
  overflow: visible;
}

@-webkit-keyframes spin-around {
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin-around {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body, button, input {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: "Source Code Pro", Monaco, Inconsolata, monospace;
  line-height: 1.25;
}

body {
  color: #42464c;
  font-size: 1rem;
  line-height: 1.428571428571429;
}

code {
  padding: 1px 2px 2px;
}

.button, .input {
  vertical-align: top;
}

table {
  td, th {
    vertical-align: top;
  }
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.label, strong {
  font-weight: 700;
}

pre {
  white-space: pre;
  word-wrap: normal;
}

.button, .nav-left, .tag {
  white-space: nowrap;
}

pre code {
  overflow-x: auto;
  padding: 16px 20px;
}

.button {
  background-color: #fff;
}

table {
  td, th {
    text-align: left;
  }
}

.has-text-centered {
  text-align: center;
}

.content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .subtitle:not(:last-child), .title:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 980px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}

@media screen and (min-width: 1180px) {
  .container {
    max-width: 1200px;
  }
}

.is-pulled-right {
  float: right;
}

.is-marginless {
  margin: 0 !important;
}

.button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  &:hover {
    border-color: #aeb1b5;
  }

  &:active, &:focus {
    border-color: #2077b2;
    outline: 0;
  }

  &[disabled] {
    background-color: #f5f7fa;
    border-color: #d3d6db;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;

    &::-moz-placeholder, &::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      color: rgba(34, 35, 36, 0.3);
    }
  }

  strong {
    color: inherit;
  }

  .icon:first-child, .tag:first-child {
    margin-left: -2px;
    margin-right: 4px;
  }

  .icon:last-child, .tag:last-child {
    margin-left: 4px;
    margin-right: -2px;
  }

  &:focus, &:hover {
    color: #222324;
  }

  &:active {
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.2);
  }

  &.is-small {
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    line-height: 16px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.content {
  a:not(.button) {
    border-bottom: 1px solid #d3d6db;

    &:visited {
      color: #847bb9;
    }

    &:hover {
      border-bottom-color: #2077b2;
    }
  }

  li + li {
    margin-top: 0.25em;
  }

  ol, ul {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
  }

  p {
    text-align: justify;
  }

  blockquote:not(:last-child), ol:not(:last-child), p:not(:last-child), ul:not(:last-child) {
    margin-bottom: 1em;
  }

  h1, h2, h3, h4 {
    color: #b52323;
    font-weight: 300;
    margin-bottom: 20px;
  }

  blockquote {
    background-color: #f5f7fa;
    border-left: 5px solid #d3d6db;
    padding: 1.5em;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }
}

.related ul {
  list-style-type: square;
}

.input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
  max-width: 100%;
  width: 100%;

  &:hover {
    border-color: #aeb1b5;
  }

  &:active, &:focus {
    border-color: #2077b2;
    outline: 0;
  }

  &[disabled] {
    background-color: #f5f7fa;
    border-color: #d3d6db;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.checkbox input {
  cursor: pointer;
}

.input {
  &[disabled] {
    &::-moz-placeholder, &::-webkit-input-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
      color: rgba(34, 35, 36, 0.3);
    }
  }

  &.is-small {
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    line-height: 16px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  line-height: 16px;

  &:hover {
    color: #222324;
  }
}

.label {
  display: block;
  color: #222324;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.image {
  display: block;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.table {
  background-color: #fff;
  color: #222324;
  margin-bottom: 20px;
  width: 100%;

  td {
    border: 1px solid #d3d6db;
    border-width: 0 0 1px;
    padding: 8px 10px;
    vertical-align: top;
  }

  th {
    border: 1px solid #d3d6db;
    border-width: 0 0 1px;
    padding: 8px 10px;
    vertical-align: top;
    color: #222324;
    text-align: left;
  }

  tr:hover {
    background-color: #f5f7fa;
    color: #222324;
  }

  thead {
    td, th {
      border-width: 0 0 2px;
      color: #aeb1b5;
    }
  }

  tbody tr:last-child {
    td, th {
      border-bottom-width: 0;
    }
  }
}

.subtitle, .title {
  font-weight: 300;
  word-break: break-word;
}

.subtitle span, .title span {
  font-weight: 300;
}

.subtitle a:hover, .title a:hover {
  border-bottom: 1px solid;
}

.subtitle strong, .title strong {
  font-weight: 500;
}

.subtitle .tag, .title .tag {
  vertical-align: bottom;
}

.subtitle code {
  display: inline-block;
  vertical-align: top;
}

.title {
  color: #222324;

  code {
    display: inline-block;
    font-size: 28px;
  }

  strong {
    color: inherit;
  }

  + {
    .highlight, .subtitle {
      margin-top: -10px;
    }
  }

  &.is-4 {
    font-size: 24px;

    code {
      font-size: 18px;
    }
  }

  &.is-6 {
    font-size: 14px;

    code {
      font-size: 14px;
    }
  }

  &.is-list {
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .title + .subtitle {
    margin-top: -15px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 1.125;

  code {
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 3px;
  }

  strong {
    color: #222324;
  }

  + .title {
    margin-top: -20px;
  }

  &.is-4 {
    font-size: 24px;

    code {
      font-size: 18px;
    }
  }

  &.is-6 {
    font-size: 14px;

    code {
      font-size: 14px;
    }
  }

  &.tags, &.date {
    line-height: 1.5em;
  }
}

.icon {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &.is-small {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    width: 16px;
  }

  height: 24px;
  width: 24px;
  font-size: inherit;
  line-height: inherit;
}

.card {
  position: relative;
}

.highlight {
  font-weight: 400;
  overflow: hidden;
  padding: 0;

  pre {
    overflow: auto;
  }
}

.tag {
  background-color: #f5f7fa;
  border-radius: 290486px;
  vertical-align: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #42464c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;

  &.is-small {
    font-size: 11px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
  color: #42464c;
  width: 300px;
}

.nav-left {
  -webkit-box-align: stretch;
}

.level {
  -ms-grid-row-align: center;
}

.level-left .level-item:not(:last-child), .level-right .level-item:not(:last-child) {
  margin-right: 10px;
}

.level-item {
  .subtitle, .title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .level-left + .level-right {
    margin-top: 20px;
  }
}

@media screen and (min-width: 769px) {
  .level-left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .level-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  code {
    border-radius: 3px;
  }

  img {
    display: inline-block;
    vertical-align: top;
  }

  &.is-mobile {
    display: flex;

    > .level-item {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:not(.is-narrow) {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    > .level-item:not(.is-narrow) {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
  }
}

.nav {
  text-align: center;
}

.nav-left {
  overflow: hidden;
  overflow-x: auto;
}

.nav-item {
  -webkit-box-align: center;
}

.level-item {
  stroke: currentColor;
  fill: none;
  position: relative;
  top: 0.1111111111111111em;
}

.nav-item {
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;

  a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  img {
    max-height: 24px;
  }

  .button + .button {
    margin-left: 10px;
  }

  .tag {
    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }
  }

  a {
    color: #42464c;
  }
}

a.nav-item {
  color: #42464c;
}

.nav-item a:hover, a.nav-item:hover {
  color: #222324;
}

@media screen and (max-width: 768px) {
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.container > .nav > .nav-left > .nav-item:first-child:not(.is-tab), .nav > .container > .nav-left > .nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

.container > .nav > .nav-right > .nav-item:last-child:not(.is-tab), .nav > .container > .nav-right > .nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

.nav-left {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav {
  -webkit-box-align: stretch;
  min-height: 50px;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 2;

  > .container {
    min-height: 50px;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.hero-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 40px 20px;
}

@media screen and (min-width: 980px) {
  .hero-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .nav {
    background: 0 0;
  }

  &.is-fullheight {
    min-height: 100vh;

    .hero-body {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      > .container {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
    }
  }
}

.section {
  background-color: #fff;
  padding: 40px 20px;
}

code, html {
  background-color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.content {
  h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child) {
    margin-top: 80px;
  }
}

article + article {
  margin-top: 80px;
}

.content {
  font-size: 16px;
  line-height: 1.75;

  h1, h2, h3, h4 {
    line-height: 1.25;
  }
}

.title {
  line-height: 1.25;
}

.hero .nav {
  box-shadow: none;
}

.nav .level-item {
  margin-left: 10px;
}

.subtitle {
  color: #69707a;
}

.title {
  font-size: 24px;

  a {
    color: #222324;
  }

  &.notfound {
    font-size: 20vw;
  }
}

code {
  color: inherit;
  font-size: 90%;
}

.content {
  h1::before, h2::before, h3::before, h4::before {
    color: #aeb1b5;
    font-weight: 700;
  }

  h1 code, h2 code, h3 code, h4 code {
    background-color: #8a2be2;
  }

  h1 + h2:not(:first-child), h2 + h3:not(:first-child), h3 + h4:not(:first-child) {
    margin-top: 20px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  ol:not(:last-child), p:not(:last-child), pre:not(:last-child), table:not(:last-child), ul:not(:last-child) {
    margin-bottom: 1.5em;
  }

  table {
    td, th {
      border: 1px solid #d3d6db;
      padding: 8px 10px;
      vertical-align: top;
    }
  }

  li {
    pre, table {
      margin-bottom: 1.5em;
    }
  }
}

.related {
  a:not(.button) {
    border-bottom: none;

    &:visited {
      color: #000;
    }
  }

  ul {
    font-size: 17px;
  }
}

div.subtitle.tags {
  margin-bottom: 0px;
}

.highlight pre {
  margin: 0;
}
