.chroma {
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }

  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
  }

  .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc;
  }

  .lnt, .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f;
  }

  .k, .kc, .kd, .kn, .kp, .kr {
    color: #000000;
    font-weight: bold;
  }

  .kt {
    color: #445588;
    font-weight: bold;
  }

  .na {
    color: #008080;
  }

  .nb {
    color: #0086b3;
  }

  .bp {
    color: #999999;
  }

  .nc {
    color: #445588;
    font-weight: bold;
  }

  .no {
    color: #008080;
  }

  .nd {
    color: #3c5d5d;
    font-weight: bold;
  }

  .ni {
    color: #800080;
  }

  .ne, .nf {
    color: #990000;
    font-weight: bold;
  }

  .nl {
    color: #990000;
    font-weight: bold;
  }

  .nn {
    color: #555555;
  }

  .nt {
    color: #000080;
  }

  .nv, .vc, .vg, .vi {
    color: #008080;
  }

  .s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx {
    color: #dd1144;
  }

  .sr {
    color: #009926;
  }

  .s1 {
    color: #dd1144;
  }

  .ss {
    color: #990073;
  }

  .m, .mb, .mf, .mh, .mi, .il, .mo {
    color: #009999;
  }

  .o, .ow {
    color: #000000;
    font-weight: bold;
  }

  .c, .ch, .cm, .c1 {
    color: #999988;
    font-style: italic;
  }

  .cs, .cp, .cpf {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }

  .gd {
    color: #000000;
    background-color: #ffdddd;
  }

  .ge {
    color: #000000;
    font-style: italic;
  }

  .gr {
    color: #aa0000;
  }

  .gh {
    color: #999999;
  }

  .gi {
    color: #000000;
    background-color: #ddffdd;
  }

  .go {
    color: #888888;
  }

  .gp {
    color: #555555;
  }

  .gs {
    font-weight: bold;
  }

  .gu {
    color: #aaaaaa;
  }

  .gt {
    color: #aa0000;
  }

  .gl {
    text-decoration: underline;
  }

  .w {
    color: #bbbbbb;
  }
}
