<section class="section">
  <div class="container">
    <nav id="nav-main" class="nav">
      <div id="nav-name" class="nav-left">
        <a id="nav-anchor" class="nav-item" href="{{ .Site.BaseURL }}">
          <h1 id="nav-heading" class="title is-4">{{ .Site.Title }}</h1>
        </a>
      </div>
      <div class="nav-right">
        <nav id="nav-items" class="nav-item level is-mobile">
          <a class="level-item" aria-label="category" href='/categories' rel='noopener'>
            <span class="icon">
              <i class>{{- partial "svg/icons" "category" -}}</i>
            </span>
          </a>
          <a class="level-item" aria-label="tags" href='/tags' rel='noopener'>
            <span class="icon">
              <i class>{{- partial "svg/icons" "tag" -}}</i>
            </span>
          </a>
          <a class="level-item" aria-label="about" href='/about' rel='noopener'>
            <span class="icon">
              <i class>{{- partial "svg/icons" "about" -}}</i>
            </span>
          </a>
          {{- $social := ( .Site.Params.social ) -}}
          {{- range $platform := $social.config.platforms -}}
          {{- with $username := ( index $social $platform ) -}}
          <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
            target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
        </nav>
      </div>
    </nav>
  </div>
</section>
