<script>
  (function(window, document) {
    function main() {
      var ad = document.createElement('script');
      ad.type = 'text/javascript';
      ad.async = true;
      ad.dataset.adClient = 'ca-pub-7067582591422237';
      ad.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js';
      var sc = document.getElementsByTagName('script')[0];
      sc.parentNode.insertBefore(ad, sc);
    }

    var lazyLoad = false;
    var events = ['scroll', 'mousemove', 'mousedown', 'touchstart', 'keydown'];
    function onLazyLoad() {
      if (lazyLoad === false) {
        lazyLoad = true;
        events.forEach( event =>
          window.addEventListener(event, onLazyLoad)
        );
        main();
      }
    }
    events.forEach( event =>
      window.addEventListener(event, onLazyLoad)
    );
    window.addEventListener('load', function() {
      if (window.pageYOffset) {
        onLazyLoad();
      }
    });
  })(window, document);
</script>
