<a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}%20%7C" target="blank">
  <img alt="Twitter" src="https://img.shields.io/twitter/url?style=social&url={{ .Permalink }}">
</a>

<a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" target='blank'>
  <img alt="Hatena" src="https://img.shields.io/badge/dynamic/json?&style=social&label=hatena&logo=hatena-bookmark&query=$.*&url=https://bookmark.hatenaapis.com/count/entries?url={{ .Permalink }}">
</a>

<a href='https://feedly.com/i/subscription/feed/https://www.shiomiya.com/index.xml'  target='blank'>
  <img alt="Feedly" src="https://img.shields.io/badge/dynamic/json?&style=social&logo=feedly&label=feedly&query=%24.subscribers&url=https%3A%2F%2Fcloud.feedly.com%2Fv3%2Ffeeds%2Ffeed%252F{{ .Site.RSSLink }}">
</a>
