{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <script async src="https://cse.google.com/cse.js?cx=a9f22d9de1105d236"></script>
    <div class="gcse-search"></div>
    {{- $pages := . -}}
    {{- if .IsHome -}}
    {{- $pages = .Site.RegularPages -}}
    {{- else -}}
    {{ $pages = .Pages -}}
    {{- end -}}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <h1 class="title is-list">
        <a href="{{ .Permalink }}">
          {{ .Title }}{{ partial "taxonomies_count" . }}
          {{ if .Draft }}::Draft{{ end }}
        </a>
      </h1>
      <h2 class="subtitle is-6 date">
        {{ .Date.Format "January 2, 2006" }}
        {{ if .Params.categories }}
        {{ partial "categories" .Params.categories }}
        {{ end }}
      </h2>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
